:root {
    --cursive: "Pinyon Script", cursive;
    --titlee: "Bebas Neue", sans-serif;
    --color-gold: #D4AF37;
    --color-gold-light: #F4CF57;
    --white: #9CA3AF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100dvh;
    background: 
        radial-gradient(circle at 50% 30%, rgba(114, 14, 14, 0.4) 0%, rgba(74, 4, 4, 0.9) 60%, #000000 100%),
        repeating-linear-gradient(90deg, 
        rgba(74, 4, 4, 1) 0px, 
        rgba(60, 0, 0, 1) 20px, 
        rgba(90, 10, 10, 1) 40px, 
        rgba(74, 4, 4, 1) 60px
        );
    box-shadow: inset 0 0 150px #000;
    padding-inline: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    padding-block: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
h1 {
    font-family: var(--cursive);
    font-size: 5rem;
    background: linear-gradient(to bottom, var(--color-gold-light), var(--color-gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    font-weight: 400;
}

h2 {
    background: linear-gradient(to bottom, var(--color-gold-light), var(--color-gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    font-size: 1.2rem;
    font-family: var(--titlee);
    position: absolute;
    bottom: 1rem;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
}


.score__section {
    padding-block: .75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.score__item {
    padding-block: .5rem;
    padding-inline: 1.5rem;
    border: 1px solid var(--color-gold);
    border-radius: 6px;
    font-family: var(--titlee);
    color: var(--white);
    background-color: rgba(0,0,0,0.3);
}

.number {
    font-size: larger;
    font-weight: 600;
    color: var(--color-gold);
}