:root {
    --cursive: "Pinyon Script", cursive;
    --titlee: "Bebas Neue", sans-serif;
    --color-gold: #D4AF37;
    --color-gold-light: #F4CF57;
    --white: #9CA3AF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}